# Salesforce CLI
.sf/
.sfdx/
.localdevserver/
deploy-options.json

# Code Analyzer output
results.json
results.html
results.sarif
code-analyzer.log

# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Editors
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
desktop.ini
